@use '../core/mantine' as mantine;

.header {
  padding: mantine.rem(12px) 0;
  box-shadow: var(--mantine-shadow-sm);

  @include mantine.smaller-than(mantine.$mantine-breakpoint-xl) {
    padding: mantine.rem(12px) mantine.rem(20px);
  }
}

.profileDrawer {
  &:active {
    transform: translateY(calc(0.0625rem * var(--mantine-scale)));
  }
}
