.container {
  width: 100%;
  min-height: 34rem;
  padding: 1.5rem 2.5rem;
}

.heading {
  padding: 0.75rem 1.5rem;
  margin: 1.25rem 0;
  max-width: var(--mantine-breakpoint-md);
}

.subheading {
  overflow-wrap: break-word;
  max-width: var(--mantine-breakpoint-sm);
}
