@use '../../core/mantine' as mantine;

.container {
  width: 100%;
  margin-top: mantine.rem(32px);
  padding-left: mantine.rem(20px);
  padding-right: mantine.rem(8px);
  border-radius: var(--mantine-radius-xl);
  max-width: mantine.$mantine-breakpoint-sm;

  border-width: mantine.rem(3px);
  border-style: solid;
  background-color: white;
  border-color: light-dark(var(--mantine-color-dark-7), black);

  .wrapper {
    flex: 1;
  }

  .input {
    color: black;

    &::placeholder {
      color: var(--mantine-color-dark-3);
    }
  }
}
